.all {
    height: 1200px;
    width: 800px;
    text-align: center;
    justify-content: center;
    border: 0.5px black solid;
}

.class {
    height: 100px;
    width: 150px;
}

img {
    height: 600px;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 120px;
}

.body {
    width: 750px;
    text-align: left;
    margin-left: 20px;
    margin-right: none;
}

h1 {
    text-transform: uppercase;
    color: goldenrod;
    font-size: 64px;
    text-decoration: underline;
}

.text {
    font-size: 20px;
    margin-top: top;
}

#txt {
    margin-top: none;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
}

span {
    font-weight: bold;
    font-size: 24px;
    color: goldenrod;
}