.all {
    height: 1200px;
    width: 800px;
    text-align: center;
    justify-content: center;
    border-style: groove;
}

.class {
    height: 100px;
    width: 150px;
}

img {
    height: 600px;
    width: 500px;
    border-radius: 20px;
}

.body {
    width: 600px;
    text-align: center;
    margin-left: 100px;
    margin-right: none;
}

h1 {
    text-transform: uppercase;
    color: goldenrod;
    font-size: 64px;
}

.text {
    font-size: 20px;
}

p {
    font-size: 20px;
}

span {
    font-weight: bold;
    font-size: 24px;
    color: goldenrod;
}